body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.clear-container {
  text-align: center;
}

.clear-message {
  font-size: 48px;
  font-weight: bold;
  color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 136px);
  grid-template-rows: repeat(4, 200px);
  gap: 10px;
}

.restart-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #0056b3;
}

/* .card {
  perspective: 1000px;
  cursor: pointer;
} */

.card-inner {
  width: 136px;
  height: 200px;
  /* position: relative; */
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-back {
  background-image: url('/public/img/card_back.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.card-front {
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}